<%- include ../header %>
<section class="idx-banner expo-bg c-fix">
    <span class="c-block">WELCOME</span>
    <% if (log_user) { %>
    <div class="idx-about expo-card">
        <p><strong>本品由<a href="https://github.com/sunmengyuan"> 呆恋小喵 </a>制作</strong><br /><a href="https://github.com/sunmengyuan/metis/tree/master/node/expo">https://github.com/sunmengyuan/metis/tree/master/node/expo</a><br />前端开发初学者一枚 欢迎大神前来批评指教 ~</p>
        <a href="javascript:;" class="js_switch">切换账号</a><a href="/profile/<%= log_user %>">个人主页</a>
    </div>
    <% } else { %>
    <div class="idx-login expo-card">
        <form id="form_login" class="expo-form" autocomplete="off">
            <input type="text" id="username" name="username" placeholder="用户名" />
            <input type="password" id="password" name="password" placeholder="密码" />
        </form>
        <button class="js_login expo-btn">login</button><a href="/register">register</a>
    </div>
    <% } %>
</section>

<% if (users.length) { %>
<section class="users-lst">
    <h3 class="expo-title">最新注册用户</h3>
    <ul>
        <% users.forEach(function (user) { %>
        <li>
            <a href="/profile/<%= user.id %>" class="c-block">
                <h4>
                    <img src="<%= user.portrait || '/img/default_portrait.jpg' %>" class="c-block" />
                    <%= user.username %>
                </h4>
                <span>性别：<%= user.sex %></span><span>电话：<%= user.tel %></span><span>QQ：<%= user.qq %></span>
                <% if (user.intro) { %>
                <div class="user-intro"><%= user.intro %></div>
                <% } %>
            </a>
        </li>
        <% }) %>
    </ul>
</section>
<% } %>

<script src="/script/index.js"></script>
<%- include ../footer %>